# Import modules

In [50]:
import pandas as pd
from datetime import datetime
import datetime as dt
from itertools import groupby
from datetime import date

# Loading data

In [299]:
lead = pd.read_csv("leads.csv")
account = pd.read_csv("accounts.csv")

In [300]:
len(lead)

2074

In [302]:
lead = lead.dropna(subset = ['Form Submission Date'])
account = account.dropna(subset = ['Form Submission Date'])
lead = lead.dropna(subset = ['Lead Source'])
account = account.dropna(subset = ['Lead Source'])

In [303]:
lead.rename(columns={'Lead Status': 'Status', 'Lead Owner': 'Owner'}, inplace=True)
account.rename(columns={'Account Owner': 'Owner'}, inplace=True)

In [304]:
df = pd.concat([lead, account])
df.index = range(len(df.Status))

In [305]:
df_1 = df[["Lead Source", "Form Submission Date"]]

In [307]:
df_1[:3]

           Lead Source Form Submission Date
0  VFS Website - Apply             9/1/2014
1   VFS Email Campaign             9/1/2014
2  VFS Website - Apply             9/1/2014

In [308]:
df_1.columns

Index([u'Lead Source', u'Form Submission Date'], dtype='object')

In [309]:
for i,item in enumerate(df_1["Lead Source"]):
    if item.startswith("VFS Website"):
        df_1["Lead Source"][i] = 'VFS Website'

In [310]:
for i,item in enumerate(df_1["Lead Source"]):
    if item.startswith("Facebook"):
        df_1["Lead Source"][i] = 'Facebook'

In [311]:
for i,item in enumerate(df_1["Lead Source"]):
    if item.startswith("DIGS"):
        df_1["Lead Source"][i] = 'DIGS'

In [201]:
df_1

,Lead Source,Form Submission Date,Sunday date,Sunday date of last week,Month,Days
0,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
1,VFS Email Campaign,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
2,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
3,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
4,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
5,VFS Website,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
6,DIGS,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
7,DIGS,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
8,VFS Website,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
9,VFS Website,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
10,VFS Website,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
11,VFS Website,9/2/2014,08-31-2014,08-24-2014,09-2014,09-02-2014
12,VFS Website,9/3/2014,08-31-2014,08-24-2014,09-2014,09-03-2014
13,DIGS,9/3/2014,08-31-2014,08-24-2014,09-2014,09-03-2014
14,VFS Website,9/3/2014,08-31-2014,08-24-2014,09-2014,09-03-2014
15,VFS Website,9/3/2014,08-31-2014,08-24-2014,09-2014,09-03-2014
16,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
17,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
18,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
19,VFS Email Campaign,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
20,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
21,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
22,VFS Website,9/4/2014,08-31-2014,08-24-2014,09-2014,09-04-2014
23,VFS Website,9/5/2014,08-31-2014,08-24-2014,09-2014,09-05-2014
24,VFS Website,9/6/2014,09-07-2014,08-31-2014,09-2014,09-06-2014
25,DIGS,9/6/2014,09-07-2014,08-31-2014,09-2014,09-06-2014
26,VFS Email Campaign,9/7/2014,09-07-2014,08-31-2014,09-2014,09-07-2014
27,VFS Website,9/7/2014,09-07-2014,08-31-2014,09-2014,09-07-2014
28,DIGS,9/7/2014,09-07-2014,08-31-2014,09-2014,09-07-2014
29,VFS Website,9/8/2014,09-07-2014,08-31-2014,09-2014,09-08-2014
...,...,...,...,...,...,...
4059,DIGS,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4060,DIGS,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4061,DIGS,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4062,External Referral,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4063,Google Ad,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4064,DIGS,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4065,DIGS,5/27/2015,05-24-2015,05-17-2015,05-2015,05-27-2015
4066,VFS Website,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4067,External Referral,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4068,DIGS,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4069,DIGS,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4070,External Referral,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4071,DIGS,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4072,Google Ad,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4073,VFS Website,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4074,VFS Website,5/28/2015,05-24-2015,05-17-2015,05-2015,05-28-2015
4075,VFS Website,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4076,External Referral,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4077,VFS Website,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4078,DIGS,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4079,External Referral,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4080,VFS Website,5/29/2015,05-24-2015,05-17-2015,05-2015,05-29-2015
4081,DIGS,5/30/2015,05-31-2015,05-24-2015,05-2015,05-30-2015
4082,VFS Website,5/30/2015,05-31-2015,05-24-2015,05-2015,05-30-2015
4083,DIGS,5/30/2015,05-31-2015,05-24-2015,05-2015,05-30-2015
4084,Other,5/30/2015,05-31-2015,05-24-2015,05-2015,05-30-2015
4085,Other,6/1/2015,05-31-2015,05-24-2015,06-2015,06-01-2015
4086,Google Ad,6/1/2015,05-31-2015,05-24-2015,06-2015,06-01-2015
4087,VFS Website,6/1/2015,05-31-2015,05-24-2015,06-2015,06-01-2015
4088,DIGS,6/1/2015,05-31-2015,05-24-2015,06-2015,06-01-2015

# Define functions

In [202]:
def sunday(input):
    d = input.toordinal()
    last = d - 6
    sunday = last - (last % 7 - 7)
    return date.fromordinal(sunday)  

def sunday_last_week(input):
    d = input.toordinal()
    last = d - 6
    sunday = last - (last % 7)
    return date.fromordinal(sunday)


def sunday_last_week_false():
    d = date.today().toordinal()
    last = d - 13
    sunday = last - (last % 7)
    return date.fromordinal(sunday)

def sum_col(col):
    S = 0
    for n in col:
        S = S + n
    return S


def today1():
    today = date.today()
    today2 = datetime.date(today)
    return today2

def last_week():
    last_week_data = format(sunday_last_week(date.today()), '%m-%d-%Y')
    return last_week_data  


def date_format(df):
    date_simple = datetime.strptime(df, '%m-%d-%Y')
    date2 = datetime.date(date_simple)
    return date2
    
def last_8_weeks(df_week):
    today3 = date.today()
    df_week["days"] = 0
    for i in range(len(df_week["Sunday date"])):
        diff = date.today() -  date_format(df_week["Sunday date"][i])
        df_week.loc[i, "days"] = diff.days
    return df_week  


def last_6_months(df):
    today4 = date.today()
    df["months_diff"] = 0
    for i in range(len(df["Month"])):
        date4 = datetime.strptime(df["Month"][i], '%m-%Y')
        date5 = datetime.date(date4)
        a = date.today() - date5
        df.loc[i, "months_diff"] = a.days
    return df


def first_day_of_month(d):
    return date(d.year, d.month, 1)

# Add date of Sunday, Last Sunday and Month

In [63]:
df_1["Sunday date"] = '0'
for i in range(len(df_1["Form Submission Date"])):
    date0 = datetime.strptime(df_1["Form Submission Date"][i], '%m/%d/%Y')
    date1 = datetime.date(date0)
    df_1.loc[i, "Sunday date"] = format(sunday(date1), '%m-%d-%Y')

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
df_1[:3]

          Lead Source Form Submission Date Sunday date
0         VFS Website             9/1/2014  08-31-2014
1  VFS Email Campaign             9/1/2014  08-31-2014
2         VFS Website             9/1/2014  08-31-2014

In [65]:
df_1["Sunday date of last week"] = '0'
for i in range(len(df_1["Form Submission Date"])):
    date0 = datetime.strptime(df_1["Form Submission Date"][i], '%m/%d/%Y')
    date1 = datetime.date(date0)
    df_1.loc[i, "Sunday date of last week"] = format(sunday_last_week(date1), '%m-%d-%Y')

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [66]:
df_1[:3]

,Lead Source,Form Submission Date,Sunday date,Sunday date of last week
0,VFS Website,9/1/2014,08-31-2014,08-24-2014
1,VFS Email Campaign,9/1/2014,08-31-2014,08-24-2014
2,VFS Website,9/1/2014,08-31-2014,08-24-2014

In [67]:
df_1["Month"] = df_1["Form Submission Date"]
for i in range(len(df_1["Month"])):
    date0 = datetime.strptime(df_1["Month"][i], '%m/%d/%Y')
    date1 = datetime.date(date0)
    df_1.loc[i, "Month"] = format(date1, '%m-%Y')

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
df_1["Days"]=df_1["Form Submission Date"]
for i in range(len(df_1["Month"])):
    date0 = datetime.strptime(df_1["Days"][i], '%m/%d/%Y')
    date1 = datetime.date(date0)
    df_1.loc[i, "Days"] = format(date1, '%m-%d-%Y')

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
df_1[:3]

,Lead Source,Form Submission Date,Sunday date,Sunday date of last week,Month,Days
0,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
1,VFS Email Campaign,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014
2,VFS Website,9/1/2014,08-31-2014,08-24-2014,09-2014,09-01-2014

# Create table for last 6 month

In [70]:
df_7 = df_1[["Lead Source", "Month"]]
df_7[:3]

          Lead Source    Month
0         VFS Website  09-2014
1  VFS Email Campaign  09-2014
2         VFS Website  09-2014

In [71]:
df_last_6_month = last_6_months(df_7)

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [72]:
df_last_6_month = df_last_6_month[df_last_6_month["months_diff"] < 183]
df_last_6_month = df_last_6_month[df_last_6_month["months_diff"] > 0]
df_last_6_month.index = range(len(df_last_6_month.months_diff))
df_last_6_month[:3]

   Lead Source    Month  months_diff
0  VFS Website  01-2015          160
1  VFS Website  01-2015          160
2  VFS Website  01-2015          160

In [73]:
df_10 = df_last_6_month[["Lead Source", "Month"]]
df_10["Count"] = 1
df_10 = df_10.groupby(["Lead Source", "Month"], as_index=False)
df_10 = df_10.aggregate(sum)
df_10["Schare"] = 0
for i in range(len(df_10["Count"])):
    df_10.loc[i, "Schare"] = float(df_10["Count"][i])/float(sum_col(df_10["Count"]))
    
df_month_6 = df_10
df_month_6[:3]

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

   Lead Source    Month  Count    Schare
0  Auction.com  04-2015      1  0.000335
1  Auction.com  05-2015      1  0.000335
2         DIGS  01-2015    197  0.065930

In [74]:
df_month_6[:3]

   Lead Source    Month  Count    Schare
0  Auction.com  04-2015      1  0.000335
1  Auction.com  05-2015      1  0.000335
2         DIGS  01-2015    197  0.065930

In [75]:
datetime.strptime(df_month_6['Month'][20], "%m-%Y").timetuple()

time.struct_time(tm_year=2015, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=-1)

In [76]:
import time

In [77]:
int(time.mktime(datetime.strptime(df_month_6['Month'][i], "%m-%Y").timetuple())*1000)

1422741600000L

In [78]:
df_month_6["values"] = 1429390800000
for i in range(len(df_month_6["Month"])):
    df_month_6.loc[i, "values"] = int(time.mktime(datetime.strptime(df_month_6['Month'][i], "%m-%Y").timetuple())*1000)

In [79]:
df_month_6[:3]

   Lead Source    Month  Count    Schare         values
0  Auction.com  04-2015      1  0.000335  1427835600000
1  Auction.com  05-2015      1  0.000335  1430427600000
2         DIGS  01-2015    197  0.065930  1420063200000

In [80]:
df_month_6 = df_month_6[['Lead Source', 'values', 'Count']]
df_month_6.columns = ['symbol', 'date', 'count']
df_month_6[:3]

        symbol           date  count
0  Auction.com  1427835600000      1
1  Auction.com  1430427600000      1
2         DIGS  1420063200000    197

In [81]:
date0 = df_month_6['date']

In [82]:
date2 = list(set(date0))

In [83]:
date2

[1425160800000,
 1420063200000,
 1422741600000,
 1427835600000,
 1430427600000,
 1433106000000]

In [84]:
symbol = df_month_6['symbol']

In [85]:
symbol2 = list(set(symbol))

In [86]:
symbol2[:3]

['Pre-Sales Call', 'Outbound', 'LinkedIn']

In [87]:
date3 = []
for i in range(len(symbol2)):
    for j in range(len(date2)):
        date3.append(date2[j])

In [88]:
symbol3 = []
for i in range(len(symbol2)):
    for j in range(6): 
        symbol3.append(symbol2[i])

In [89]:
len(symbol2)

24

In [90]:
len(date2)

6

In [91]:
date2

[1425160800000,
 1420063200000,
 1422741600000,
 1427835600000,
 1430427600000,
 1433106000000]

In [92]:
new_lists= pd.DataFrame(columns=['symbol', 'date', 'count'])

In [93]:
new_lists['symbol']=symbol3
new_lists['date']=date3
new_lists['count']=0

In [94]:
df6 = pd.concat([df_month_6, new_lists])

In [95]:
df66 = df6.drop_duplicates(cols=['symbol', 'date'], take_last=False)

C:\Anaconda\lib\site-packages\pandas\util\decorators.py:81: FutureWarning: the 'cols' keyword is deprecated, use 'subset' instead
  warnings.warn(msg, FutureWarning)

In [96]:
df_month_6 = df66.sort(['symbol', 'date'])
df_month_6.index = range(len(df_month_6))

In [97]:
df_month_6[:3]

        symbol           date  count
0  Auction.com  1420063200000      0
1  Auction.com  1422741600000      0
2  Auction.com  1425160800000      0

In [98]:
df_mean = df_month_6.groupby(['symbol']).sum()/6
mean1 = df_mean['count']

In [99]:
mean1['DIGS']

197.83333333333334

In [102]:
df_mean['boolean'] = 'true'

In [129]:
df_mean1 = df_mean

In [130]:
df_mean1 = df_mean1.sort(['count'])

In [131]:
for i in range(len(df_mean1['count'])-5, len(df_mean1['count'])):
    df_mean1['boolean'][i] = 'false'

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [135]:
df_mean1 = df_mean1.sort()

In [148]:
disabled = df_mean1['boolean']

In [139]:
list0 = []
a = df_month_6["date"].values
b = df_month_6["count"].values
for i in range(len(df_month_6["count"])):   
        list0.append([a[i], b[i]])

In [140]:
list2 = []
for i in range(len(df_month_6["count"])):
    list2.append([df_month_6["symbol"][i], list0[i]])

In [141]:
import sys
from contextlib import contextmanager
@contextmanager
def stdout_redirected(new_stdout):
    save_stdout = sys.stdout
    sys.stdout = new_stdout
    try:
        yield None
    finally:
        sys.stdout = save_stdout

In [157]:
j = []
with open('m6.json', "w") as f:
    with stdout_redirected(f):
        for  key1, group in groupby(list2, lambda x: x[0]):
                print '}, { "key":' + "\"" + key1 + "\"" + ',' + '\"mean\":' + str(mean1[key1]) + ',' + '\"disabled\":' + disabled[key1] + ',' + '\"values\":',  [thing[1] for thing in group]

In [158]:
json_data=open('m6.json').read()
data = '[' + json_data[2:len(json_data)] + "}]"

In [159]:
with open('last_6_months.json', "w") as f:
    with stdout_redirected(f):
         print data

# Create table for last week

In [262]:
df_4 = df_1[["Lead Source", "Sunday date of last week", "Days"]]

In [263]:
df_4[:10]

          Lead Source Sunday date of last week        Days
0         VFS Website               08-24-2014  09-01-2014
1  VFS Email Campaign               08-24-2014  09-01-2014
2         VFS Website               08-24-2014  09-01-2014
3         VFS Website               08-24-2014  09-01-2014
4         VFS Website               08-24-2014  09-01-2014
5         VFS Website               08-24-2014  09-02-2014
6                DIGS               08-24-2014  09-02-2014
7                DIGS               08-24-2014  09-02-2014
8         VFS Website               08-24-2014  09-02-2014
9         VFS Website               08-24-2014  09-02-2014

In [264]:
df_4['last_week'] = False
for i in range(len(df_4["Days"])):
    d = datetime.strptime(df_4["Days"][i], "%m-%d-%Y")
    d1=datetime.date(d)
    if datetime.date(datetime.strptime(df_4["Days"][i], "%m-%d-%Y")) >= sunday_last_week_false() and datetime.date(datetime.strptime(df_4["Days"][i], "%m-%d-%Y")) < sunday(date.today()):
        df_4['last_week'][i] = True

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [265]:
df_5 = df_4[df_4["last_week"] == True]
df_5.index = range(len(df_5.last_week))
df_last_week = df_5
df_last_week[:3]

   Lead Source Sunday date of last week        Days last_week
0  VFS Website               05-17-2015  05-24-2015      True
1  VFS Website               05-17-2015  05-24-2015      True
2    Google Ad               05-17-2015  05-25-2015      True

In [266]:
df_last_week = df_last_week.sort(['Sunday date of last week'])

In [270]:
df_last_week.index = range(len(df_last_week['Days']))

# This line of code must be droped

In [272]:
df_5 = df_last_week[:160]

In [274]:
df_55 = df_5[["Lead Source", "Days"]]
df_55["Count"] = 1
df_55 = df_55.groupby(["Lead Source", "Days"], as_index=False)
df_55 = df_55.aggregate(sum)
df_55["Schare"] = 0
for i in range(len(df_55["Count"])):
    df_55.loc[i, "Schare"] = float(df_55["Count"][i])/float(sum_col(df_55["Count"]))

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [275]:
# get name of month by number
df_55 = df_55[["Lead Source", "Days", "Count"]]
df_55.columns = ["symbol", "date", "count"]

In [276]:
df05 = df_55
df05["values"] = 1429390800000
for i in range(len(df05["date"])):
    df05.loc[i, "values"] = int(time.mktime(datetime.strptime(df05["date"][i], "%m-%d-%Y").timetuple())*1000)

In [277]:
df05 = df05[['symbol', 'values', 'count']]
df05.columns = ['symbol', 'date', 'count']
df05[:3]

  symbol           date  count
0   DIGS  1432414800000      1
1   DIGS  1432501200000      2
2   DIGS  1432587600000     29

In [278]:
date0 = df05['date']

date2 = list(set(date0))
        
        
        
symbol = df05['symbol']



symbol2 = list(set(symbol))


date3 = []
for i in range(len(symbol2)):
    for j in range(len(date2)):
        date3.append(date2[j])
        
symbol3 = []
for i in range(len(symbol2)):
    for j in range(len(date2)): 
        symbol3.append(symbol2[i])
        

new_lists= pd.DataFrame(columns=['symbol', 'date', 'count'])


new_lists['symbol']=symbol3
new_lists['date']=date3
new_lists['count']=0


df6 = pd.concat([df05, new_lists])

df66 = df6.drop_duplicates(cols=['symbol', 'date'], take_last=False)


df05 = df66.sort(['symbol', 'date'])
df05.index = range(len(df05))

In [279]:
date2

[1432674000000,
 1432846800000,
 1432760400000,
 1432501200000,
 1432414800000,
 1432587600000]

In [280]:
df_mean = df05.groupby(['symbol']).sum()/len(date2)
mean1 = df_mean['count']

In [281]:
df_mean['boolean'] = 'true'

df_mean1 = df_mean

df_mean1 = df_mean1.sort(['count'])

for i in range(len(df_mean1['count'])-5, len(df_mean1['count'])):
    df_mean1['boolean'][i] = 'false'
    
df_mean1 = df_mean1.sort()

disabled = df_mean1['boolean']

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [282]:
list0 = []
a = df05["date"].values
b = df05["count"].values
for i in range(len(df05["count"])):   
        list0.append([a[i], b[i]])

In [283]:
list2 = []
for i in range(len(df05["count"])):
    list2.append([df05["symbol"][i], list0[i]])

In [284]:
import sys
from contextlib import contextmanager
@contextmanager
def stdout_redirected(new_stdout):
    save_stdout = sys.stdout
    sys.stdout = new_stdout
    try:
        yield None
    finally:
        sys.stdout = save_stdout

In [285]:
j = []
with open('lw.json', "w") as f:
    with stdout_redirected(f):
        for key, group in groupby(list2, lambda x: x[0]):
             print '}, { "key":' + "\"" + key + "\"" + ',' +'\"mean\":' + str(mean1[key]) + ','  +  '\"values\":',  [thing[1] for thing in group]

In [286]:
json_data=open('lw.json').read()
data = '[' + json_data[2:len(json_data)] + "}]"

In [287]:
with open('last_week_2.json', "w") as f:
    with stdout_redirected(f):
         print data

In [288]:
disabled

symbol
DIGS                  false
EH Website             true
Employee Referral      true
External Referral     false
Facebook               true
Google Ad             false
House Sign             true
Other                  true
Scotsman Guide         true
VFS Email Campaign    false
VFS Website           false
Name: boolean, dtype: object

In [289]:
list2

[['DIGS', [1432414800000, 1]],
 ['DIGS', [1432501200000, 2]],
 ['DIGS', [1432587600000, 29]],
 ['DIGS', [1432674000000, 32]],
 ['DIGS', [1432760400000, 17]],
 ['DIGS', [1432846800000, 6]],
 ['EH Website', [1432414800000, 0]],
 ['EH Website', [1432501200000, 1]],
 ['EH Website', [1432587600000, 1]],
 ['EH Website', [1432674000000, 1]],
 ['EH Website', [1432760400000, 0]],
 ['EH Website', [1432846800000, 1]],
 ['Employee Referral', [1432414800000, 0]],
 ['Employee Referral', [1432501200000, 0]],
 ['Employee Referral', [1432587600000, 0]],
 ['Employee Referral', [1432674000000, 0]],
 ['Employee Referral', [1432760400000, 1]],
 ['Employee Referral', [1432846800000, 0]],
 ['External Referral', [1432414800000, 1]],
 ['External Referral', [1432501200000, 0]],
 ['External Referral', [1432587600000, 0]],
 ['External Referral', [1432674000000, 4]],
 ['External Referral', [1432760400000, 2]],
 ['External Referral', [1432846800000, 2]],
 ['Facebook', [1432414800000, 0]],
 ['Facebook', [1432501200000, 0]],
 ['Facebook', [1432587600000, 1]],
 ['Facebook', [1432674000000, 1]],
 ['Facebook', [1432760400000, 0]],
 ['Facebook', [1432846800000, 0]],
 ['Google Ad', [1432414800000, 2]],
 ['Google Ad', [1432501200000, 3]],
 ['Google Ad', [1432587600000, 3]],
 ['Google Ad', [1432674000000, 4]],
 ['Google Ad', [1432760400000, 3]],
 ['Google Ad', [1432846800000, 0]],
 ['House Sign', [1432414800000, 1]],
 ['House Sign', [1432501200000, 0]],
 ['House Sign', [1432587600000, 0]],
 ['House Sign', [1432674000000, 0]],
 ['House Sign', [1432760400000, 0]],
 ['House Sign', [1432846800000, 0]],
 ['Other', [1432414800000, 0]],
 ['Other', [1432501200000, 0]],
 ['Other', [1432587600000, 1]],
 ['Other', [1432674000000, 0]],
 ['Other', [1432760400000, 0]],
 ['Other', [1432846800000, 0]],
 ['Scotsman Guide', [1432414800000, 0]],
 ['Scotsman Guide', [1432501200000, 0]],
 ['Scotsman Guide', [1432587600000, 1]],
 ['Scotsman Guide', [1432674000000, 0]],
 ['Scotsman Guide', [1432760400000, 0]],
 ['Scotsman Guide', [1432846800000, 0]],
 ['VFS Email Campaign', [1432414800000, 0]],
 ['VFS Email Campaign', [1432501200000, 0]],
 ['VFS Email Campaign', [1432587600000, 2]],
 ['VFS Email Campaign', [1432674000000, 7]],
 ['VFS Email Campaign', [1432760400000, 1]],
 ['VFS Email Campaign', [1432846800000, 0]],
 ['VFS Website', [1432414800000, 3]],
 ['VFS Website', [1432501200000, 2]],
 ['VFS Website', [1432587600000, 8]],
 ['VFS Website', [1432674000000, 2]],
 ['VFS Website', [1432760400000, 7]],
 ['VFS Website', [1432846800000, 7]]]

In [290]:
j = []
with open('lw7.json', "w") as f:
    with stdout_redirected(f):
        for key, group in groupby(list2, lambda x: x[0]):
             print '}, { "key":' + "\"" + key + "\"" + ',' + '\"mean\":' + str(mean1[key]) + ',' + '\"disabled\":' + disabled[key] + ',' + '\"values\":',  [thing[1] for thing in group]

In [291]:
json_data=open('lw7.json').read()
data = '[' + json_data[2:len(json_data)] + "}]"

In [292]:
with open('last_week.json', "w") as f:
    with stdout_redirected(f):
         print data

# Choose last 8 weeks

In [187]:
df_week = df_1[["Lead Source", "Sunday date"]]
df_8_week = last_8_weeks(df_week)
df_8 = df_8_week[df_8_week["days"] < 57]
df_8 = df_8[df_8_week["days"] > 0]
df_8.index = range(len(df_8.days))
df_8[:3]

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda\lib\site-packages\pandas\core\frame.py:1808: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

          Lead Source Sunday date  days
0  VFS Email Campaign  04-19-2015    52
1            Facebook  04-19-2015    52
2            Facebook  04-19-2015    52

In [188]:
df_2 = df_8[["Lead Source", "Sunday date"]]
df_2["Count"] = 1
df_2 = df_2.groupby(["Lead Source", "Sunday date"], as_index=False)
df_2 = df_2.aggregate(sum)
df_2["Schare"] = 0
for i in range(len(df_2["Count"])):
    df_2.loc[i, "Schare"] = float(df_2["Count"][i])/float(sum_col(df_2["Count"]))
    
df_week_8 = df_2
df_week_8[:3]

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

   Lead Source Sunday date  Count    Schare
0  Auction.com  05-17-2015      1  0.000994
1         DIGS  04-19-2015     40  0.039761
2         DIGS  04-26-2015     40  0.039761

In [189]:
# get name of month by number
df_week_8 = df_week_8[["Lead Source", "Sunday date", "Count"]]
df_week_8.columns = ["symbol", "date", "count"]
df_week_8.to_csv("week_8.csv", index = False)

In [190]:
df0 = df_week_8
df0["values"] = 1429390800000
for i in range(len(df0["date"])):
    df0.loc[i, "values"] = int(time.mktime(datetime.strptime(df0["date"][i], "%m-%d-%Y").timetuple())*1000)

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [191]:
df0 = df0[['symbol', 'values', 'count']]
df0.columns = ['symbol', 'date', 'count']
df0[:3]
df08 = df0

In [192]:
date0 = df08['date']

date2 = list(set(date0))
        
        
        
symbol = df08['symbol']



symbol2 = list(set(symbol))


date3 = []
for i in range(len(symbol2)):
    for j in range(len(date2)):
        date3.append(date2[j])
        
symbol3 = []
for i in range(len(symbol2)):
    for j in range(len(date2)): 
        symbol3.append(symbol2[i])
        

new_lists= pd.DataFrame(columns=['symbol', 'date', 'count'])


new_lists['symbol']=symbol3
new_lists['date']=date3
new_lists['count']=0


df6 = pd.concat([df08, new_lists])

df66 = df6.drop_duplicates(cols=['symbol', 'date'], take_last=False)


df08 = df66.sort(['symbol', 'date'])
df08.index = range(len(df08))

In [193]:
df_mean = df08.groupby(['symbol']).sum()/len(date2)
mean1 = df_mean['count']

In [194]:
df_mean['boolean'] = 'true'

df_mean1 = df_mean

df_mean1 = df_mean1.sort(['count'])

for i in range(len(df_mean1['count'])-5, len(df_mean1['count'])):
    df_mean1['boolean'][i] = 'false'
    
df_mean1 = df_mean1.sort()

disabled = df_mean1['boolean']

C:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [195]:
list0 = []
a = df08["date"].values
b = df08["count"].values
for i in range(len(df08["count"])):   
        list0.append([a[i], b[i]])

In [196]:
list2 = []
for i in range(len(df08["count"])):
    list2.append([df08["symbol"][i], list0[i]])

In [197]:
import sys
from contextlib import contextmanager
@contextmanager
def stdout_redirected(new_stdout):
    save_stdout = sys.stdout
    sys.stdout = new_stdout
    try:
        yield None
    finally:
        sys.stdout = save_stdout

In [198]:
j = []
with open('7.json', "w") as f:
    with stdout_redirected(f):
        for key, group in groupby(list2, lambda x: x[0]):
             print '}, { "key":' + "\"" + key + "\"" + ',' + '\"mean\":' + str(mean1[key]) + ',' + '\"disabled\":' + disabled[key] + ',' +  '\"values\":',  [thing[1] for thing in group]

In [199]:
json_data=open('7.json').read()
data = '[' + json_data[2:len(json_data)] + "}]"

In [200]:
with open('last_8_weeks.json', "w") as f:
    with stdout_redirected(f):
         print data